/* Place CSS styles here */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6  {
    color: pink;
}