/* Place CSS styles here */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}


h1 {
    color: #08b7e8;
}

h2 {
    color: #ffea00;
    text-align: center;
}

img {
    width: 250px;
    margin-right: 16px;
}

p {
    text-align: center;
}