/* Place CSS styles here */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}


div my-h1{ 
    text-align: center;
    color: rgb(50, 159, 255);

}